
//- includes/scripts.jade  
script(src="/jquery/dist/jquery.min.js")
script(src="/popper/dist/umd/popper.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/javascripts/ws.client.js")
script(src="https://unpkg.com/vue/dist/vue.js") 
//-引入组件库
script(src="https://unpkg.com/element-ui/lib/index.js")  
    