
//- includes/foot.jade 
#footer(class="fixed-bottom container-fluid bg-dark text-white pt-3") 
  p Copyright (c) Tcp-Udp-Tool 2017
script(src="/jquery/dist/jquery.min.js")
script(src="/popper/dist/umd/popper.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")